p{
    font-size: large;
}
section, aside{
    margin-left: 3%;
}

.contact_us_link:link{
    color: darkgreen;
    padding:0%;
}

.contact_us_link:visited{
    color: darkgreen;
}

.contact_us_link:hover{
    color: rgb(0, 0, 0);
}

.contact_us_link:active{
    color: darkgreen;
}


.contact_us_link {
    font-weight: 600;
}

ol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.li-heading {
    border-style: solid;
    background-color:  #48593551;
    margin:3%;

}

