p{
    font-size: x-large;
}

section, aside{
    margin-left: 3%;
}

.contact_us_link:link{
    color: darkgreen;
    padding:0%;
}

.contact_us_link:visited{
    color: darkgreen;
}

.contact_us_link:hover{
    color: rgb(0, 0, 0);
}

.contact_us_link:active{
    color: darkgreen;
}


.contact_us_link {
    font-weight: 600;
}

ol {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0px;
}

.li-heading {
    background-color:  #48593551;
    margin:3%;
    padding: 2%;
}

li {
    font-size: x-large;
}

