body{
  word-wrap: break-word;
}

body{
  background-color: #cadbb7b4;
}

.company_name {
    background-color: #485935;
    font-size: 150%;
    text-align: center;
    margin-top:-1%;
    margin-left:-1%;
    margin-right:-1%;
    padding:2.5%;
    align-self: center;
    color: #fbfbfb;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

nav {
    background-color: #93A267;
    font-size: 120%;
    color:#fbfbfb;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 2%;
    padding: 3%;
    text-decoration-line: none;
    margin-top:-1%;
    margin-left:-1%;
    margin-right:-1%;
}

nav, a:link {
    text-decoration: none;
    padding: 1%;
}

.mission a:link {
  color: #485935;
}

.mission a:visited {
  color:#485935;
}

.mission {
  display: flex;
  justify-content: space-evenly;
  align-self: auto;
  padding: 3%;
  width: 80%;
  background-color:#CADBB7; 
  font-family:Arial, Helvetica, sans-serif;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
}

.mission p {
  display:block;
  width: 45%;
  font-size: 180%;
}

.business_front {
  align-self:center;
  width: 45%;
  float:left;
}


/* unvisited link */
a:link {
    color: #ffffff;
  }
  
  /* visited link */
a:visited {
    color: #ffffff;
}
  
  /* mouse over link */
a:hover {
    color: #485935;
}
  
  /* selected link */
a:active {
    color: #485935;
}



strong {
  font-weight: 550;
}

.summaries_of {
    background-color: #CADBB7;
    font-size: 190%;
    font-weight: 470;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    padding: 5%;
    margin-top: 8%;
    margin-left:-1%;
    margin-right:-1%;
}

footer {
    text-align: center;
    margin-top: .5%;
}

.summary_button{
    font-size: 85%;
    font-family:  Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    background-color:#485935;
    border:none;
    margin-top: 2%;
    padding: 1%;
    color:white;
    width:35%;
}

.summary_button:link {
    color: #fbfbfb;
}
  
  /* visited link */
.summary_button:visited {
    color: #fbfbfb;
}
  
  /* mouse over link */
.summary_button:hover {
    background-color:#93A267;
    transition: 0.3s;
}
  
  /* selected link */
.summary_button:active {
    color: #485935;
}

.title {
    text-indent: 3%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1%;
}

.title h2 {
  font-size:300%;
}

/* Contact Us Form */
.contact_form {
  background-color: #CADBB7;
  width:30%;
  padding:2%;
  width:fit-content;
  margin-left:2%;
  margin-top:2%;
}

.contact_form h3 {
  text-align:center;
}

.email_form {
  padding:auto;
}


.hours {
  background-color: #CADBB7;
  width:fit-content;
  padding:2%;
  margin-left:2%;
  margin-top:2%;
  
}

.contact_info {
  width:40%;
  background-color: #CADBB7;
  padding:2%;
  margin-left:2%;
  margin-top:2%;
}

.contact_main {
  display: flex;
  width:90%;
}

.employee_img {
  width:30%;
}

.employee_desc{
  padding-left:5%;
  padding-right:5%;
}

.about_us_main {
  margin-left: 5%;
}

.group_img {
  width:70%;
}

.employee, .group {
  background-color:#CADBB7;
  align-items: center;
  text-align: center;
  align-self: center;
  padding:2%;
  margin-left:-5.5%;
  margin-right:-1%;
  margin-bottom: 5%;
}

.employee, .group, .employee_img, .group_img, .mission {
}

.employee_name {
  padding-top: 1%;
}